@nav-bg: #000;
@nav-txt: #fff;

body {
    background-color: #dedede;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 60rem;
}

/* NAVIGATION */

.nav {
    background-color: @nav-bg;
    color: @nav-txt;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-wrapper {
    margin: 0 auto;
    max-width: 60rem;
}

.nav-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.nav-item {
    display: inline;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-link {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
    &:visited {
        color: @nav-txt;
    }
}

.nav-title {
    font-weight: 700;
    text-transform: lowercase;
}

/* SEARCH */

.search-wrapper {
    margin: 0 auto;
    width: 50%
}

.search-text,
.search-btn {
    font-family: 'Noto Sans', sans-serif;
    padding: 0.5rem;
    text-transform: lowercase;
}

.search-text {
    width: 79%;
}

.search-btn {
    width: 15%;
}

.results-table {
    margin: 1rem auto;
}

.results-link {
    &:hover {
        cursor: pointer;
    }
}

/* CARD INFO */

.important-text {
    font-weight: 700;
    text-transform: lowercase;
}
