<div class="main-container">
    <div class="content-container">
        <h1 class="heading-text">Signup</h1>
        <!-- Signup form -->
        <form name="signupForm" novalidate ng-submit="signup.signUp()">
            <!-- Username input -->
            <input type="text" name="username" class="text-input signup-text" ng-model="signup.username" placeholder="Username" required />
            <!-- Password input -->
            <input type="password" name="password" class="text-input signup-text" ng-model="signup.password" placeholder="Password" required />
            <!-- 'Sign up' button -->
            <button type="submit" class="btn" value="Sign Up">Signup</button>
            <!-- Error messages (only display if the form has been submitted) -->
            <div class="angular-animate animate-fade" ng-show="signupForm.$submitted">
                <!-- If the 'username' field is empty, show this message -->
                <p class="error-text angular-animate animate-fade" ng-show="signupForm.username.$error.required">
                    Username required
                </p>
                <!-- If the 'password' field is empty, show this message -->
                <p class="error-text angular-animate animate-fade" ng-show="signupForm.password.$error.required">
                    Password required
                </p>
            </div>
            <div class="angular-animate animate-fade" ng-show="signupForm.$submitted && signup.isDuplicate">
                <!-- If the user tries to create an account with a username which is already registered, show this message -->
                <p class="error-text angular-animate animate-fade">
                    Username already taken
                </p>
            </div>
        </form>
    </div>
</div>
