<div class="main-container">
    <div class="content-container">
        <h1 class="heading-text">Search</h1>
        <!-- Search bar directive -->
        <search submit="search.submit" service="search.CollectionAppService" controller="search"></search>
        <div ng-show="search.CollectionAppService.searchResults.length === 0">
            No results found :(
        </div>
        <!-- Search results table -->
        <table class="results-table angular-animate animate-fade" ng-show="search.CollectionAppService.showResults && search.CollectionAppService.searchResults.length !== 0">
            <thead>
                <tr>
                    <th class="results-table-head">
                        Card Name
                    </th>
                    <th class="results-table-head">
                        Series
                    </th>
                    <th class="results-table-head">
                        Set
                    </th>
                </tr>
            </thead>
            <!-- Display information for each card returned -->
            <tbody ng-repeat="card in search.CollectionAppService.searchResults" ng-class="{'last-row': $last}">
                <tr class="results-table-row results-link" ng-click="search.getCardInfo(card.id)">
                    <td class="results-text">
                        {{ card.name }}
                    </td>
                    <td class="results-text">
                        {{ card.series }}
                    </td>
                    <td class="results-text">
                        {{ card.set }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
