<!-- Search form -->
<form name="search.cardSearchForm" novalidate ng-submit="submit(search.cardName, search.cardSearchForm.$valid)">
    <!-- Search bar -->
    <div class="search-container">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
        <!-- Search text input -->
        <input type="text" name="searchTerm" class="text-input search-text" ng-model="search.cardName" placeholder="Search by name, e.g. 'charizard'" required />
    </div>
</form>
<!-- If the search field is left empty, display this error message -->
<div class="angular-animate animate-fade" ng-show="search.cardSearchForm.$submitted">
    <p class="error-text angular-animate animate-fade" ng-show="search.cardSearchForm.searchTerm.$error.required">
        Please enter a Pok&eacute;mon name
    </p>
</div>
