<!-- Search form -->
<form name="search.cardSearchForm" novalidate ng-submit="submit(search.cardName, search.cardSearchForm.$valid)">
    <!-- Search bar -->
    <div class="search-container">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
        <!-- Search text input -->
        <input type="text" name="searchTerm" class="text-input search-text" ng-model="search.cardName" placeholder="Search by name, e.g. 'charizard'" required />
    </div>
</form>
<!-- Display this error message if the search field is left empty -->
<div ng-if="search.cardSearchForm.$submitted" ng-messages="search.cardSearchForm.searchTerm.$error">
    <span ng-message="required">Please enter a Pok&eacute;mon name</span>
</div>
