<div class="main-container">
    <div class="content-container">
        <!-- This message only displays if the user's collection is empty -->
        <div ng-if="!collection.collection || collection.collection.collectionSize === 0">
            <h2 class="heading-text">Your collection is empty :(</h2>
            <p class="description-text">
                Click <a href="#/search">here</a> to start searching for cards to add to your collection!
            </p>
        </div>
        <!-- The collection only displays if the user has added at least one card to their collection -->
        <div ng-if="collection.collection && collection.collection.collectionSize !== 0">
            <h1 class="heading-text">{{ collection.collection.username }}'s Collection</h1>
            <span class="important-text">No. Collected: </span>{{ collection.collection.collectionSize }}<br />
            <!-- Images of cards in collection -->
            <span ng-repeat="cards in collection.collection.cardList | orderBy: 'cards.card.name'"><a href="#/card-info/{{ cards.card.id }}/{{ cards._id }}"><img class="card-img collection-thumbnail" ng-src="{{ cards.card.imageUrl }}" /></a></span>
        </div>
    </div>
</div>
